template(name="layout")
  div.navbar.navbar-inverse.navbar-static-top(role="navigation")
    div.container-fluid
      div.navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#header")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="{{pathFor 'index'}}") Agile Planner
      #header.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          +loginButtons
  +yield
