template(name="index")
  .jumbotron.text-center
    .row
      .col-xs-12
        h1 Planning Poker!
    .row
      .col-xs-12
        h3 Estimate right, estimate accuratly
  .row
    .col-sm-4
      .panel.panel-default
        .panel-body
          h3 Pick the topic to discuss
          p Select the topic to be estimated, and present it to all your team members
    .col-sm-4
      .panel.panel-default
        .panel-body
          h3 Enjoy the Game!
          p Take your pick from what you believe is the right estimate, and hope for the best
    .col-sm-4
      .panel.panel-default
        .panel-body
          h3 See the results
          p Along with your tean you can see the results of the game, and discuss on them.