template(name="index")
  .jumbotron
    .container.text-center
      h1 Planning Poker!
      with loggedUser
        p Host a new planning sessiong or join an existing one with your access code
        p
          .col-xs-6.text-right
            a.btn.btn-primary Host
          .col-xs-6.text-left
            a.btn.btn-primary Join
      else
        p Who said planning can't be fun? Create you account o login so you can start hosting your planning sessions
        p
          .col-xs-6.text-right
            a.btn.btn-primary Sing Up
          .col-xs-6.text-left
            a.btn.btn-primary Log In
  .container
    .row
      .col-sm-4
        h2 Pick the topic to discuss
        p Select the topic to be estimated, and present it to all your team members
      .col-sm-4
        h2 Enjoy the Game!
        p Take your pick from what you believe is the right estimate, and hope for the best
      .col-sm-4
        h2 See the results
        p Along with your tean you can see the results of the game, and discuss on them.
    hr