template(name="login")
  .container-fluid.form-users
    .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
      form.text-center
        h2 Log In
        .form-group
          input.form-control(name="username" type="text" placeholder="Username or Email")
        .form-group
          input.form-control(type="password" placeholder="Password")
        button.btn.btn-success Log in
        p Don't have an account? create one
          a(href="{{pathFor 'signUp'}}") here
