template(name="signUp")
  .container.form-users
    .col-sm-6.col-md-4.col-md-offset-4
      form.text-center
        h2 Create your account
        .form-group
          input.form-control(type="text", placeholder="Username")
        .form-group
          input.form-control(type="email", placeholder="Email")
        .form-group
          input.form-control(type="password", placeholder="Password")
        button.btn.btn-success Create Account
        p Already have an account? login
          a(href="{{pathFor 'login'}}") here
