template(name="loginButtons")
  with currentUser
    li.dropdown
      a.dropdown-toggle(data-toggle="dropdown") #{displayName}
        b.caret
      ul.dropdown-menu
        li
          a(href="{{pathFor 'settings'}}") Settings
        li
          a(href="{{pathFor 'logout'}}") Logout
  else
    li
      a(href="{{pathFor 'login'}}") Login
