template(name="loginButtons")
  with loggedUser
    li.dropdown
      a.dropdown-toggle(data-toggle="dropdown") #{displayName}
        b.caret
      ul.dropdown-menu
        li
          a(href="{{pathFor 'settings'}}") Settings
        li
          a(href="{{pathFor 'logout'}}") Logout
  else
    li.navbar-form
      button.btn.btn-primary(type="submit") Login
