template(name="notFound")
  .jumbotron.text-center
    .row
      .col-xs-12
        h1 Oops! Wrong page :)
    .row
      .col-xs-12
        span Sorry this page count not be found, yo can go back to the page by clicking on the home button
    .row
      .col-xs-12
        a.btn.btn-primary(href="{{pathFor 'index'}}") Home