template(name="planningSessionEdit")
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        +with session
          h1 Set up your planning session
          .form-group
            input.input-lg.form-control(type="text", name="name", value="{{name}}", placeholder="Name")
          .form-group
            input.input-lg.form-control(type="text", name="goal", value="{{goal}}", placeholder="The Session's main goal")
        hr
        ul.nav.nav-tabs
          li.active
            a(href="#tab-pt", data-toggle="tab") Pivotal Tracker
          li
            a(href="#tab-ct", data-toggle="tab") Custom
        div.tab-content
          div#tab-pt.tab-pane.fade.active.in
            .form-group
              label(for="projectName") Select a project:
              select#pt-projects.input-lg.form-control(name="projectName")
                option(disabled="true") Select a project from PivotalTracker
                +each projects
                  option(value="{{id}}") #{name}
          div#tab-ct.tab-pane.fade
            span Custom content

        button.pp-start.btn.btn-primary.btn-lg(type="submit") Start Now!
