template(name="memberItem")
  .list-group-item
    span
      i.glyphicon.glyphicon-user(class="{{onlineStatus}}")
      | #{member.displayName}
      +if isMe
        span.pull-right me
      else
        +if sessionOwner
          span.pull-right
            a.make-organizer(href="#" data-user-id="{{member._id}}") make organizer
