template(name="memberItem")
  a.list-group-item(href="#")
    .row
      .col-xs-9
        i.glyphicon.glyphicon-user(class="{{onlineStatus}}")
        | #{member.displayName}
      .col-xs-3.text-right
        +if isMe
          | me
        else
          +if sessionOwner
            a.make-organizer(href="#" data-user-id="{{member._id}}" title="Make Organizer")
              i.glyphicon.glyphicon-circle-arrow-up
