template(name="planningSessionResults")
  p There results where:
  +each results
    p
      +if sessionOwner
        button.btn.btn-primary.vote-value(data-value="{{value}}") #{value}
      else
        span.btn.btn-vote-value.vote-value #{value}
      +each users
        span.btn.btn-xs.btn-users #{this}
      hr
