template(name="planningSessionVoting")
  +if sessionOwner
    p: button.btn.btn-danger.pp-stop-voting(data-story-id="{{_id}}") Stop Voting!
  form.form.vote-form
    .form-group
      p: strong How would you rate this user story?
    .col-sm-4
      .input-group
        select.form-control
          option 1
          option 2
          option 3
          option 5
          option 8
          option ?
        span.input-group-btn
          button.btn.btn-primary(type="submit") Vote!
    .col-sm-8
      +each storyVotes
        span.voters.btn.btn-xs(class="{{btnClass}}") {{userName}}
